@define-color rosewater #f4dbd6;
@define-color flamingo #f0c6c6;
@define-color pink #f5bde6;
@define-color red #F38BA8;
@define-color maroon #ee99a0;
@define-color peach #f5a97f;
@define-color green #a6da95;
@define-color sky #91d7e3;
@define-color blue #8aadf4;
@define-color lavender #b7bdf8;
@define-color border @lavender;
@define-color fg #cad3f5;
@define-color gray2 #939ab7;
@define-color bg #1e2030;
@define-color dark-fg #24273a;
@define-color bg-hover #181926;
@define-color black4 #5b6078;
@define-color black3 #363a4f;

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "Space Mono", "JetBrainsMono Nerd Font";
  font-size: 12pt;
  padding-bottom: 1px;
}

tooltip {
  background: @bg;
  border-radius: 7px;
  border: 2px solid @border;
}

window#waybar {
  background-color: transparent;
  color: @lavender;
}

window#waybar.solo {
  background-color: @bg;
  color: @lavender;
}

window#waybar.solo #workspaces button {
  border-radius: 5px;
}

#custom-power {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  background-color: @lavender;
  color: @dark-fg;
}

#mode {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  background-color: @bg;
  color: @peach;
}

#tray {
  margin: 5px 0 5px 5px;
  padding-left: 10px;
  border-radius: 7px 0 0 7px;
  background-color: @bg;
}

#network {
  margin: 5px 5px 5px 0;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 0 7px 7px 0;
  background-color: @bg;
  color: @lavender;
}
/* #network.wifi, */
/* #network.ethernet { */
/*   color: @green; */
/* } */
#network.linked {
  color: @peach;
}
#network.disconnected,
#network.disabled {
  color: @red;
}

#pulseaudio,
#cpu,
#memory,
#temperature,
#backlight,
#mpd,
#battery {
  margin: 5px;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

#custom-playerctl {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

#pulseaudio.muted {
  background-color: @red;
  color: @dark-fg;
}

#clock {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: @lavender;
  background-color: @bg;
}

/* bottom waybar */